<xf:include template="crud_record_header" />

<div id="main-content">
  <h2>Update Record</h2>

  <xf:form action="{{ link('crud/update') }}" class="block post-form" ajax="1">
    <div class="block-container">
      <div class="block-body">
        <xf:hiddenval name="id" value="{$data.id}" />

        <xf:textboxrow
          name="name"
          label="Name"
          value="{$data.name}"
          autosize="true"
          row="5"
        />

        <xf:textboxrow
          name="class"
          label="Class"
          value="{$data.class}"
          autosize="true"
          row="5"
        />

        <xf:numberboxrow
          name="rollNo"
          label="Roll No"
          value="{$data.rollNo}"
          autosize="true"
          row="5"
        />
      </div>

      <xf:submitrow submit="{{ phrase('Update') }}" fa="fa-save" />
    </div>
  </xf:form>
</div>
</div>
</body>
</html>