<xf:include template="crud_record_header" />

<div id="main-content">
  <h2>All Records</h2>
  <br />
  <table cellpadding="7px">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Class</th>
      <th>Roll No</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <xf:foreach loop="$data" value="$val">
        <tr>
          <td>{$val.id}</td>
          <td>{$val.name}</td>
          <td>{$val.class}</td>
          <td>{$val.rollNo}</td>
          <td>
            <a href="{{ link('crud/edit-view',$val) }}">Edit</a>
          </td>
          <td>
            <a href="{{ link('crud/delete', $val) }}">Delete</a>
          </td>
        </tr>
      </xf:foreach>
    </tbody>
  </table>
</div>
</div>
</body>
</html>