<xf:title>
  <xf:if is="$message.message_id"> {{ phrase('edit_message') }} :
  {$message.message} </xf:if>
</xf:title>

<xf:form
  action="{{ link('forumAutoReply/edit-save', $message) }}"
  class="block"
  data-force-flash-message="true"
>
  <div class="block-container">
    <div class="block-body">
      
      <!-- Words,Message,User inputs -->

      <xf:formrow
        rowtype="input"
        label="{{ phrase('word_message') }}"
        hint="{{ phrase('required') }}"
      >
        <div
          class="inputGroup-container"
          data-xf-init="list-sorter"
          data-drag-handle=".dragHandle"
        >
          <xf:if is="$message.message_id">
            <div class="inputGroup">
              <xf:textbox
                name="words[]"
                value="{$message.word}"
                placeholder="{{ phrase('enter_word') }}"
                size="24"
                maxlength="25"
                data-i="0"
                dir="ltr"
              />

              <span class="inputGroup-splitter"></span>

              <xf:textbox
                name="messages[]"
                value="{$message.message}"
                placeholder="{{ phrase('enter_message') }}"
                size="24"
                data-i="0"
              />

              <xf:textbox
                name="from_users[]"
                value="{$message.User.username}"
                ac="single"
                placeholder="{{ phrase('enter_user') }}"
                size="24"
                data-i="0"
              />
            </div>  
          </xf:if>
        </div>
      </xf:formrow>
    </div>
    <xf:submitrow submit="" icon="edit" />
  </div>
</xf:form>