<xf:title>{{ phrase('forum_auto_reply') }}</xf:title>

<xf:breadcrumb href="#">{{ phrase('forum_auto_reply') }}</xf:breadcrumb>

<xf:pageaction>
  <xf:button href="{{ link('forumAutoReply/add') }}" icon="add"
    >{{ phrase('add_message') }}</xf:button
  >
</xf:pageaction>

<div class="block">
  <div class="block-outer">
    <xf:macro
      template="filter_macros"
      name="quick_filter"
      arg-key="forumAutoReply"
      arg-class="block-outer-opposite"
    />
  </div>
  <div class="block-container">
    <div class="block-body">
      <xf:datalist data-xf-init="responsive-data-list">
        <xf:if is="$data is not empty">
          <xf:macro
            name="message_table_list"
            arg-data="{$data}"
            arg-nodeTree="{$nodeTree}"
            arg-userGroups="{$userGroups}"
            arg-prefixGroups="{$prefixGroups}"
            arg-prefixesGrouped="{$prefixesGrouped}"
          />

          <xf:else />
          <div class="blockMessage">
            {{ phrase('no_items_have_been_created_yet') }}
          </div>
        </xf:if>
      </xf:datalist>
      <xf:pagenav
        page="{$page}"
        perpage="{$perPage}"
        total="{$total}"
        link="forumAutoReply"
        wrapperclass="block"
      />
    </div>
    <div class="block-footer">
      <span class="block-footer-counter"
        >{{ display_totals($totalReturn, $total) }}</span
      >
    </div>
  </div>
</div>

<xf:macro
  name="message_table_list"
  arg-data="{$data}"
  arg-nodeTree="{$nodeTree}"
  arg-userGroups="{$userGroups}"
  arg-prefixGroups="{$prefixGroups}"
  arg-prefixesGrouped="{$prefixesGrouped}"
>
  <xf:datarow rowtype="header">
    <xf:cell> {{ phrase('cell_forum') }} </xf:cell>
    <xf:cell> {{ phrase('cell_user_group') }} </xf:cell>
    <xf:cell> {{ phrase('cell_prefix') }} </xf:cell>
    <xf:cell class="dataList-cell--min"> Action </xf:cell>
  </xf:datarow>
  <xf:foreach loop="{$data}" value="$val">
    <xf:datarow>
      <xf:foreach loop="{$nodeTree.getFlattened(0)}" value="$treeEntry">
        <xf:if is="{$treeEntry.record.node_id} == {$val.node_id}">
          <xf:cell href="{{ link('forumAutoReply/edit', $val) }}">
            {{ repeat('&nbsp;&nbsp;', $treeEntry.depth)|raw }}
            {$treeEntry.record.title}
          </xf:cell>
        </xf:if>
      </xf:foreach>
      <xf:foreach loop="{$userGroups}" value="$userGroup">
        <xf:if is="{$userGroup.user_group_id} == {$val.user_group_id}">
          <xf:cell> {$userGroup.title} </xf:cell>
        </xf:if>
      </xf:foreach>
      <xf:foreach
        loop="{$prefixGroups}"
        key="$prefixGroupId"
        value="$prefixGroup"
      >
        <xf:foreach
          loop="{$prefixesGrouped.{$prefixGroupId}}"
          key="$prefix_id"
          value="$prefix"
        >
          <xf:if is="{$val.prefix_id} == {$prefix_id}">
            <xf:cell> {$prefix.title} </xf:cell>
          </xf:if>
        </xf:foreach>
      </xf:foreach>
      <xf:delete
        href="{{ link('forumAutoReply/delete-all', $val) }}"
        overlay="true"
      />
    </xf:datarow>
  </xf:foreach>
</xf:macro>
