<xf:title>
  <xf:if is="$message.message_id"> {{ phrase('edit_message') }} :
  {$message.message} <xf:else /> {{ phrase('add_message') }} </xf:if>
</xf:title>

<xf:form
  action="{{ link('forumAutoReply/save', $message) }}"
  class="block"
  data-force-flash-message="true"
>
  <div class="block-container">
    <div class="block-body">
      <!-- Nodes list -->

      <xf:selectrow
        name="node_id"
        label="{{ phrase('forum') }}"
        hint="{{ phrase('required') }}"
        required="required"
      >
        <xf:option value="0">{{ phrase('(none)') }}</xf:option>

        <xf:foreach loop="$nodeTree.getFlattened(0)" value="$treeEntry">
          <xf:option
            value="{$treeEntry.record.node_id}"
            disabled="{{ $treeEntry.record.node_type_id != 'Forum' }}"
            selected="{{$message.node_id == $treeEntry.record.node_id }}"
            >{{ repeat('&nbsp;&nbsp;', $treeEntry.depth)|raw }}
            {$treeEntry.record.title}</xf:option
          >
        </xf:foreach>
      </xf:selectrow>

      <!-- Words,Message,User inputs -->

      <xf:formrow
        rowtype="input"
        label="{{ phrase('word_message') }}"
        hint="{{ phrase('required') }}"
      >
        <div
          class="inputGroup-container"
          data-xf-init="list-sorter"
          data-drag-handle=".dragHandle"
        >
          <xf:if is="$message.message_id">
            <div class="inputGroup">
              <xf:textbox
                name="words[]"
                value="{$message.word}"
                placeholder="{{ phrase('enter_word') }}"
                size="24"
                maxlength="25"
                data-i="0"
                dir="ltr"
              />

              <span class="inputGroup-splitter"></span>

              <xf:textbox
                name="messages[]"
                value="{$message.message}"
                placeholder="{{ phrase('enter_message') }}"
                size="24"
                data-i="0"
              />

              <xf:textbox
                name="from_users[]"
                value="{$message.User.username}"
                ac="single"
                placeholder="{{ phrase('enter_user') }}"
                size="24"
                data-i="0"
              />
            </div>

            <xf:else />
            <div
              class="inputGroup is-undraggable js-blockDragafter"
              data-xf-init="field-adder"
              data-remove-class="is-undraggable js-blockDragafter"
            >
              <xf:textbox
                name="words[]"
                placeholder="{{ phrase('enter_word') }}"
                size="24"
                maxlength="25"
                data-i="0"
                dir="ltr"
              />

              <span class="inputGroup-splitter"></span>

              <xf:textbox
                name="messages[]"
                placeholder="{{ phrase('enter_message') }}"
                size="24"
                data-i="0"
              />

              <xf:textbox
                name="from_users[]"
                ac="single"
                placeholder="{{ phrase('enter_user') }}"
                size="24"
                data-i="0"
              />
            </div>
          </xf:if>
        </div>
      </xf:formrow>

      <!-- User Group List -->

      <xf:selectrow
        name="user_group_id"
        value="{$nodeIds}"
        label="{{ phrase('user_group') }}"
        hint="{{ phrase('required') }}"
        required="required"
      >
        <xf:option value="0">{{ phrase('(none)') }}</xf:option>

        <xf:foreach loop="$userGroups" value="$userGroup">
          <xf:option
            value="{$userGroup.user_group_id}"
            selected="{{$message.user_group_id == $userGroup.user_group_id }}"
            >{$userGroup.title}</xf:option
          >
        </xf:foreach>
      </xf:selectrow>

      <!-- Prefixes List -->

      <xf:if is="$prefixesGrouped is not empty">
        <xf:selectrow
          name="prefix_id"
          value="{$nodeIds}"
          label="{{ phrase('thread_prefix') }}"
          hint="{{ phrase('required') }}"
          required="required"
        >
          <xf:option value="0">{{ phrase('(none)') }}</xf:option>

          <xf:foreach
            loop="$prefixGroups"
            key="$prefixGroupId"
            value="$prefixGroup"
          >
            <xf:foreach
              loop="{$prefixesGrouped.{$prefixGroupId}}"
              key="$prefix_id"
              value="$prefix"
            >
              <xf:option
                value="{$prefix_id}"
                selected="{{$message.prefix_id == $prefix_id }}"
                >{$prefix.title}</xf:option
              >
            </xf:foreach>
          </xf:foreach>
        </xf:selectrow>
      </xf:if>
    </div>
    <xf:submitrow submit="" icon="save" />
  </div>
</xf:form>
